In [1]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [2]:
data = pd.read_csv("SODA496.csv")
data

,Conflict Name,US Intervention,Articles Written
0,Soviet Quagmire of 1980-1989,1,270
1,Second Chad (Habre Revolt) War of 1980-1984,0,10
2,Iran-Iraq War of 1980-1988,1,1752
3,Second Uganda War of 1980-1986,0,30
4,Nigeria-Muslim War of 1980-1981,0,22
...,...,...,...
101,Philippine Joint Offensive of 2005-2006,1,66
102,Fifth Chad War of 2005-2006,0,50
103,Third Somalia War of 2006-2008,0,77
104,Second Sri Lanka Tamil War of 2006-present,0,24
105,Second Yemeni Cleric War of 2007,0,20

In [3]:
model1 = LogisticRegression(solver='liblinear', random_state=0)

In [4]:
y = data['US Intervention']
X = data['Articles Written']

In [5]:
X = np.array(X)
X = X.reshape(-1,1)

In [6]:
y = np.array(y)

In [7]:
model1.fit(X, y)

LogisticRegression(random_state=0, solver='liblinear')

In [8]:
model1.coef_

array([[0.002106]])

In [9]:
model1.intercept_

array([-2.09788506])

In [10]:
model1.score(X, y)

0.8584905660377359